<table>
  <% matches.each do |match| %>
  <tr>
    <td>
      <%= match.team_a %>
      <%= match.score_a %>
      <%= match.score_b %>
      <%= match.team_b %>
    </td>
  </tr>
  <% end %>
</table>
