<div class="center jumbotron">
  <h1>Witaj w Euro 2016 Predictor©™</h1>
  <h2>
    Wystarczy się zarejestrować!
  </h2>
  <%= link_to "Załóż konto!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
