<table class="table table-striped">
  <thead class="thead-inverse">
    <th class="left">Użytkownik</th>
    <th class="left">Punkty</th>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(username: user.username) %></td>
      <td><%= user.total_points %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="see_more">
      <td colspan="2">
        <a href="">Zobacz całą tabelę...</a>
      </td>
    </tr>
  </tfoot>
</table>
