<table class="table table-striped">
  <thead class="thead-inverse">
    <th class="left">Username</th>
    <th class="left">Points</th>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.total_points %></td>
    </tr>
    <% end %>
  </tbody>
</table>
