<% provide(:title, "Wszystkie typy") %>

<h1>Typy</h1>

<table class="logs">
<% @Logs.each do |log| %>
  <tr>
    <td>
      <span class="date"><%= time_ago_in_words(log.created_at) %> ago</span><br>
      <%= link_to log.user.username, user_path(username: log.user.username) %>
      typuje
      <% if !log.prediction.match.predictable? %>
        <% link_string = "#{log.prediction.match.team_a.name} #{log.score_a}:#{log.score_b} #{log.prediction.match.team_b.name}" %>
      <% else %>
        <% link_string = "#{log.prediction.match.team_a.name} vs #{log.prediction.match.team_b.name}" %>
      <% end %>
      <%= link_to link_string, match_path(log.prediction.match.id) %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @Logs %>
