<%= fields_for 'predictions[]', prediction do |f| %>

  <%= hidden_field(:match_id, match_id) %>
  <td class="short right"><%= f.number_field :score_a %></td>
  <td>:</td>
  <td class="short left"><%= f.number_field :score_b %></td>

<% end %>
