<div class="row">
  <div class="col-md-6">
    <h2>Edytuj typ</h2>
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <h2>Typy innych użytkowników</h2>
    <%= render 'others_predictions', :match => @prediction.match %>
  </div>
</div>
