<div class="row">
  <div class="col-md-6">
    <h2>Editing prediction</h2>
    <%= render 'form' %>
    <hr>
    <%= link_to 'Back', user_path(@prediction.user.username) %>
  </div>
  <div class="col-md-6">
    <h2>Others predictions</h2>
    <%= render 'others_predictions', :match => @prediction.match %>
  </div>
</div>
