<div class="row">
  <div class="col-md-9">
    <%= render 'matches', :matches => @matches, :user => @user %>
  </div>
  <div class="col-md-3">
    <h2><%= @user.username %></h2>
    <h3>Points: <%= @user.predictions_points %></h3>
  </div>
</div>
