<footer class="footer">
  <small>
    The <a href="https://github.com/karlosos/euro2016/">EURO 2016 PREDICTOR©™</1>
    by <a href="https://github.com/karlosos">Karol Działowski</a>
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>
