<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">EURO 2016 PREDICTOR©™</a>
    by <a href="http://www.michaelhartl.com/">Karol Działowski</a>
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>
